.post {
    max-width: 40%;
    border: 1px solid;
    padding: 10px;
    margin-bottom: 10px;
}

.post img {
    width: 50px;
    border-radius: 50%;
    border: 1px solid;
}

.post .userInfo {
    display: flex;
    flex-direction: row;
}