.alignSelfLeft {
    align-self: flex-start;
}

.alignSelfRight {
    align-self: flex-end;
}

.message {
    width: 80%;
}

.textAlignLeft {
    text-align: left;
}

.textAlignRight {
    text-align: right;
}
