.navbar {
    background-color: mintcream;
    border: 1px solid black;
    height: 100%;
}

.profileInfo {
    display: flex;
    flex-direction: column;
}

.profileAvaBlock {
    display: flex;
    flex-direction: row;
}