.people img {
    width: 50px;
    border-radius: 50%;
    border: 1px solid;
}

.photoWrap {
    display: flex;
    flex-direction: column;
}

.infoWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.isFollowed {
    background: rgba(116, 226, 10, 0.84);
}

.isNotFollowed {
    background: rgba(226, 10, 10, 0.84);
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.peopleWrap {
    display: flex;
    flex-direction: row;
    background-color: mintcream;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
}

.currentPage {
    font-weight: bold;
}

.paginator {
    display: flex;
    flex-direction: row;
}

.page {
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}

.page:hover {
    background-color: rgba(95, 158, 160, 0.43);
}